<p id="notice"><%= notice %></p>

<h3>
    <%= @category.name %>
    <%= link_to t('Edit'), edit_category_path(@category) %>
</h3>
<div class="container">
    <%= render @category.tags %>
    <%= render 'add_tag_form' %>
</div>

<%= will_paginate @products %>
<div class="card-columns text-center">
    <%= render @products  %>
</div>
<%= will_paginate @products %>
