<p id="notice"><%= notice %></p>

<h2>
    <%= @product.name %>
</h2>

<div>
    <%= @product.content %>
</div>

<div>
    <%= render @product.tags %>
</div>

<%= link_to t('Edit'), edit_product_path(@product), class: 'btn-primary btn' %>
